nav.menu ul{
    display: inline-block;
    list-style: none;
}

nav.menu a{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

div.icons a:visited{
    text-decoration: none;
}

nav.menu a:visited{
    text-decoration: none;
}

div.icons a{
    color: #00aced;
    font-size: 3em;
}